.icon {
    width: 25px;
    height: auto;;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(161deg, rgb(0, 162, 255), rgb(0, 162, 255) 50%, white 50%, white);
}

.img-container {
    margin: 20px;
}

.about-container {
    background-color: white;
    box-shadow: 0 0 3px 3px grey;
    padding: 10px;
    margin: 20px;
}

nav {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.portrait {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.footer-image {
    width: 300px;
    height: auto;
    object-fit: cover;
}

body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
}

footer {
    display: flex;
    gap: 20px;
    background-color: rgb(0, 162, 255);
    color: white;
    width: 100%;
    justify-content: center;
    padding: 20px;
}

footer p {
    display: flex;
    align-items: center;
    gap: 10px;
}

footer .icon {
    filter: invert(100%) sepia(4%) saturate(0%) hue-rotate(13deg) brightness(119%) contrast(100%);
}

.work-screenshot {
    width: 300px;
    height: 220px;
    object-fit: contain;
}

.work-title-row {
    display: flex;
    align-items: center;
    width: 100%;
}

.project-github {
    margin-left: auto;
    margin-right: 5px;
}

.project-link {
    margin-right: 15px;
}

.work-title {
    margin: 10px 10px;
    font-weight: 500;
}

.project-description {
    margin: 10px;
}

.work-card {
    box-shadow: 0 0 3px 3px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}