.icon {
    width: 25px;
    height: auto;;
}

.works-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

a {
    text-decoration: none;
}

#img-container {
    grid-row: 1 / 4;
    grid-column: 1 / 2;
    width: fit-content;
    margin-right: 20px;
}

.portrait {
    width: 300px;
    height: auto;
    object-fit: cover;
}

.footer-image {
    width: 300px;
    height: auto;
    object-fit: cover;
}

header {
    display: grid;
    grid-template-columns: 320px 1fr;
    justify-content: center;
}

body {
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

footer {
    display: flex;
    gap: 20px;
}

.work-screenshot {
    width: 100%;
    height: auto;
}

.work-title-row {
    display: flex;
    align-items: center;
}

.project-github {
    margin-left: auto;
}

.project-link {
    margin-right: 15px;
}

.work-title {
    margin: 10px 10px;
    font-weight: 500;
}

.project-description {
    margin: 10px;
}